body {
  background-image: url("http://lh3.googleusercontent.com/_to_GjBP203MpcIR4hPBJGH1hwPaapQuvTTAhQbLCWUposKnUW-Em9koM6x896W0sluxrrIPom7Bvb7g8qGz0o39=s1200");
  background-attachment: fixed;
}

.panel {
  margin-top: 25px;
}

.panel-body {
  background-color: #7EACBB;
  color: white;
}

.sidebar{
  margin-top: 100px;
}

#note-handlebars-title{
  cursor: pointer;
}



.sidebar-btn {
  position: fixed;
  width: 150px;
  border:1px white solid;
}

/*is there a better way to space fixed elements? I wanted to fix the sidebar, but it doesn't work.*/

.second-btn{
  margin-top: 80px;
}

.third-btn{
  margin-top: 160px;
}

.fourth-btn{
  margin-top: 240px;
}

.salmon{
  background-color: #E4BF64;
}
.form-input{
  height: 30vw;
}

textarea.form-control{
  height: 28vw;
}

.error-messages{
  color:red;
}

#show-note-modal-created {
  color:grey;
}

.show-note-modal-footer{
  background-image: url("http://41.media.tumblr.com/e9e927a47d15759a6a4c8c4d6aa789d6/tumblr_mp272hHuA41r13ilso1_400.png");
  background-position: bottom;

}

.show-note-modal-header{
  background-image: url("http://41.media.tumblr.com/e9e927a47d15759a6a4c8c4d6aa789d6/tumblr_mp272hHuA41r13ilso1_400.png");
}

.btn-white{
  background-color: white;
}

.text-white{
  color:white;
}

#logout-button {
  background-color: grey;
}

#login-button {
  background-color: #E4BF64;
}

.cursor-link{
  cursor: pointer;
}

.padding-small {
  padding-left: 10px;
  padding-right: 10px;
}

.note-image-css{
  margin-bottom: 20px;
}

.border-bottom{
  border-bottom: 2px solid white;
}
